@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
background: linear-gradient(159deg,rgba(255, 255, 255, 1) 0%, rgba(55, 55, 92, 1) 91%);
    font-family: 'Poppins', sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin-top: -150px;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}

.container h1 {
    text-align: center;
    margin: 30px;
    color: #1b1a1a;
}

.input-group {
    display: block;
    margin-bottom: 5px;
    color: #1b1a1a;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.input-group label {
    margin-bottom: 5px;
    font-size: 18px;
    font-weight: 600;
}

.input-group input {
    font-weight: 600;
    width: 100%;
    padding: 10px;
    border: 1px solid #1d2438;
    border-radius: 5px;
    font-size: 16px;
}

#btn {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #1b1a1a;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: 700;
}

#btn:hover {
    background-color: #c7c7c7;
    color: #1b1a1a;
    opacity: 0.9;
    transform: scale(1.02);
    transition: 0.3s;
}

#btn :active {
    background-color: #1b1a1a;
    color: #fff;
}

#resultado {
    font-weight: 600;
    margin-top: 20px;
    text-align: center;
    font-size: 18px;
    color: #1b1a1a;
}

@media screen and (min-width: 768px) {
    .container {
    width: 100%;
    max-width: 500px;
    margin: 80px auto;
    padding: 30px;
    }

    .container h1 {
    font-size: 36px;
    }

    .input-group label {
    font-size: 20px;
    }

    #btn {
    font-size: 18px;
    width: 300px;
    align-items: center;
    height: 50px;
    margin: 30px auto;
    display: block;
    display: flex;
    justify-content: center;
    }


    
}
